body
{color: white;
  background: lightblue;
  display: inline ;
}
ul {background: black;}
ul li{display:inline;}

.Button
{
  display: none;
  position: fixed;
  bottom: 20px;
  left: 30px;
  z-index: 99;
  font-size: 24px;
  font-weight: 700;
  border: none;
  outline: none;
  background-color: salmon;
  color: black;
  cursor: pointer;
  padding: 5px;
  border-radius: 20px;
}

.Button:hover
{
  background-color: white;
}
